
.footable {
  border-spacing: 0;
  width: 100%;
  font-size:12px;
  background:#F9E6E6;
  opacity:0.85;
}

.footable.breakpoint > tbody > tr > td.expand {
  background: url('img/plus.png') no-repeat 5px center;
}

.footable.breakpoint > tbody > tr.footable-detail-show > td.expand {
  background: url('img/minus.png') no-repeat 5px center;
}

.footable > tbody > tr:hover {
  background: #F7F4DF;
}

.footable.breakpoint > tbody > tr:hover:not(.footable-row-detail) {
  cursor: pointer;
}

.footable > tbody > tr > td, .footable > thead > tr > th {
  padding: 10px;
  text-align: center;
  border-bottom:dashed 1px #9e1b20;

}

.footable > thead > tr > th, .footable > thead > tr > td {
  background-color: #9e1b20;
  color:#F7F4DF;
}

.footable > tbody img {
  vertical-align:middle;
}