/* ============================== */
/* ! Layout para desktop e laptop   */
/* ============================== */

body {
}

/* Filtros de imagem */

img.grayscale, img.grayscale-hover:hover {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

img.blur, img.blur-hover:hover {	
	filter: blur(3px); 
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: url(blur.svg#blur); /* Firefox 10+, Firefox on Android */
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3'); /* IE6-9 */
}

img.invert, img.invert-hover:hover {
	filter: invert(1); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'invert\'><feColorMatrix type=\'matrix\' values=\'-0.7 0.2 0.2 0.2 0 0.2 -0.7 0.2 0.2 0 0.2 0.2 -0.7 0.2 0 0.6 0.6 0.6 0 0\'/></filter></svg>#invert"); /* Firefox 10+, Firefox on Android */
	-webkit-filter: invert(1); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
	filter:progid:DXImageTransform.Microsoft.BasicImage(Invert=1); /* IE6-9 */
}

img.translucid, img.translucid-hover:hover {
	opacity: 0.5;
	-webkit-opacity: 0.5;
  	-moz-opacity: 0.5;
  	filter:alpha(opacity=50);
}

/* Tooltips */

	.tipper-positioner { left: -99999px; position: absolute; pointer-events: none; top: -99999px; }
	.tipper-positioner .tipper-wrapper { position: relative; }
	.tipper-positioner .tipper-content { background: rgba(0, 0, 0, 0.85); border-radius: 3px; color: #fff; display: block; font-family: sans-serif; font-size: 12px; margin: 0; padding: 8px 12px; white-space: nowrap; }
	.tipper-positioner .tipper-caret { background: url(fs-tipper-icons.png) no-repeat; display: block; height: 11px; margin: 0; overflow: hidden; position: absolute; width: 5px; }
	
	.tipper-positioner.right { box-shadow: 1px 0 3px rgba(0, 0, 0, 0.25); }
	.tipper-positioner.right .tipper-caret { background-position: left center; left: -5px; top: 0; }
	
	.tipper-positioner.left { box-shadow: -1px 0 3px rgba(0, 0, 0, 0.25); }
	.tipper-positioner.left .tipper-caret { background-position: right center; right: -5px; top: 0; }
	
	.tipper-positioner.top .tipper-caret,
	.tipper-positioner.bottom .tipper-caret { display: block; float: none; height: 5px; margin: 0 auto; width: 11px; }
	
	.tipper-positioner.top { box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.25); }
	.tipper-positioner.top .tipper-caret { background-position: center bottom; bottom: -5px; left: 0; }
	
	.tipper-positioner.bottom { box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25); }
	.tipper-positioner.bottom .tipper-caret { background-position: center top; top: -5px; left: 0; }
	

 @media all and (min-width:1024px) and (max-width:1280px) {

}

/* ===================================== */
/* ! Layout para tablets e smartphones   */
/* ===================================== */

@media all and (max-width: 1023px) {

}
 @media all and (max-width: 768px) {
	 


}


/* ================================ */
/* ! Alta resolução para iPhone 4   */
/* ================================ */

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}